*.d
*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.ilk
*.pdb
*.exp
*.map

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
build/
bin/

.idea/
*.iws
/out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

.DS_Store
Thumbs.db

config.ini